li {
  list-style:none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: #7eaeec
}

.wrap {
  width : 1000px;
  margin: 7em auto;
}

  .header {
    color: #7eaeec;
    text-align: center;
    margin-bottom: 4em;
  }

    .button {
      outline: none;
      padding: 0.5em;
      background-color: #7eaeec;
      border: 1px solid rgb(102, 89, 89);
      font-weight: bold;
    }

    .button:hover {
      background-color:rgb(102, 89, 89);
      color: #7eaeec;
      transition: 0.4s;
    }

    .buttons, .lists {
      display: flex;
      justify-content: space-around;
      margin: 2em 0;
    }

      .list-names-li {
        color: rgb(102, 89, 89);
        font-style: italic;
      }


